{% extends 'accounts/User/main.html' %}
{% load static %}
  
{% block content %}
    

        <div class="container-fluid">
          <div class="container">
            <h1 class="pr text-center pt-4"><i class='bx bxs-bell'>  NOTIFICATIONS</h1>  
          </div>
          <form>
          <div class="dropdown">
              <div class="dropdown-content">
                <hr>
                  <h3>Purchase Request No.0000001 has been approved by the Campus Director.
                    <p>1 hr ago</p>
                  </h3>
                  <hr>
                  <h3>Purchase Request No.0000100 was declined by the budgeting officer.
                    <p>09/02/23</p>
                  </h3>
                  <hr>
                  <h3>Purchase Request No.0000001 has been approved by the budgeting officer.
                    <p>09/02/23</p>
                  </h3>
                  <hr>
                  <h3>You have sent a purchase request. Purchase request No.0000100. You can track your request on the request tracker page.
                    <p>09/02/23</p>
                  </h3>
                  <hr>
                  <h3>You have sent a purchase request.Purchase request No.0000001.You can track your request on the request tracker page.
                    <p>09/02/23</p>
                  </h3>
              </div>
                  
          </div>
      </div>
{% endblock %}
