{% extends 'accounts/User/main.html' %}
{% load static %}
  
{% block content %}
    

        <div class="container-fluid">
          <div class="container">
            <h1 class="pr text-center pt-4"><div>
              <img class="notificstions" src="{% static 'images/loginlogo.png' %}" alt="">
              <div> NOTIFICATIONS</h1>  
          </div>
          <form>
          <div class="dropdown">
              <div class="dropdown-content">
                
                  <h4>
                    <p></p>
                  </h4>
                  
                  <h4>
                    <p></p>
                  </h4>
                  
                  <h4>
                    <p></p>
                  </h4>
                  
                  <h4>
                    <p></p>
                  </h4>
                  
                  <h4>
                    <p></p>
                  </h4>
              </div>
                  
          </div>
      </div>
{% endblock %}
