<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
       
        table {
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .timestamp-column {
            width: 20%; 
        }
        .status-column {
            width: 80%; 
            position: relative; 
        }
        .status-link {
            position: absolute;
            right: 0;
        }
    </style>
</head>
<body>
    <h2>Purchase Request No. 0000001</h2>
    <table>
        <tr>
            <td class="timestamp-column">Currently</td>
            <td class="status-column">Waiting for the BAC Secretariat to create a Resolution.</td>
        </tr>
        <tr>
            <td class="timestamp-column">1 hr ago</td>
            <td class="status-column">Campus Director has approved your request.</td>
        </tr>
        <tr>
            <td class="timestamp-column">09/02/23</td>
            <td class="status-column">Budget Officer has approved your request.</td>
        </tr>
        <tr>
            <td class="timestamp-column">1 hr ago</td>
            <td class="status-column">Campus Director has approved your request.</td>
        </tr>
       
        <tr>
            <td class="timestamp-column">09/01/23</td>
            <td class="status-column">
              Purchase Request Sent
                <a class="status-link" href="item_received_link.html">Click here</a>
            </td>
        </tr>
    </table>
    
    <div class="column">
        <form action="ITEM RECEIVED.php" method="post">
            <input type="submit" value="ITEM RECEIVED">
        </form>
    </div>
</body>
</html>
