<!DOCTYPE html>
<html>
<head>
    <title>Purchase Request</title>
</head>
<body>
    <table border="1" width="600" height="400" align="center">
        <tr>
            <th colspan="2">Purchase Request No. 0000001</th>
        </tr>
        <tr>
            <th>Currently</th>
            <th>Waiting for the BAC Secretariat to create a Resolution.</th>
        </tr>
        <tr>
            <th>1 hr ago</th>
            <th>Campus Director has approved your request.</th>
         </tr>
         <tr>
            <th>09/02/23</th>
            <th>Budget Officer has approved your request.</th>
         </tr>
         <tr>     
            <th>09/01/23</th>
            <th>Purchase Request Sent.</th>
            ITEM RECEIVED
            <a class="status-link" href="item_received_link.html">Click here</a>
        </td>
    </tr>
</table>
</body>
</html> 
            
</html>
