{% load static %}
<!DOCTYPE html>
<html lang="en">  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cash Disbursement</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
      <link rel="stylesheet" href="https://boxicons.com/?query=exit&fbclid=IwAR22yDHvLp_n1ychuVbHpb9TxF8U85lSVnq2vj-pAtauuOijtfBOEMopLLU">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
   

  </head>
  <body>
    <main class="flex-shrink">
      <div id="page-content-wrapper ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="ctu_logo mx-3" src="{% static 'images/ctu_loogo.png' %}" alt="CTU LOGO">
            <div>
              <h1 class="head">Online Supply Office</h1>
              <h1 class="p1">Cebu Technological University - Argao Campus</h1>
            </div>
            <div>
              <a href="{% url 'profile' %}">
                <img class="profile_img" src="{% static 'images/profile_default_image.png' %}" alt="">
              </a>
            <div>
            <div>
              <h1 class="p1">Profile Name</h1>
            </div>
            </div>
        </nav>
      </div>
      <h1 class="welcome">Welcome to Cebu Technological University - Argao Campus Online Supply System </h1>
      <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="sidebar">
          <div class="d-flex flex-wrap align-content-between h-100">
            <div class="bg-white w-100" id="sidebar-wrapper">
              <div class="list-group w-100">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'home_cash' %}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'cash_disbursement' %}">History</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'prequest' %}">About Us</a>
                 </div>
            </div>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'login' %}">
              <img class="arrow_img" src="{% static 'images/arrow_right.png' %}" alt=""> Logout
            </a>
          </div>
        </div>
    
        <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden; ">
          <div class="container">
            <h1>PURCHASE REQUEST</h1>
            <svg
  class="vector"
  width="40"
  height="49"
  viewBox="0 0 40 49"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0 41.0833V36.25H5V19.3333C5 15.9903 6.04167 13.0198 8.125 10.4219C10.2083 7.82396 12.9167 6.12222 16.25 5.31667V3.625C16.25 2.61806 16.6146 1.76215 17.3438 1.05729C18.0729 0.352431 18.9583 0 20 0C21.0417 0 21.9271 0.352431 22.6562 1.05729C23.3854 1.76215 23.75 2.61806 23.75 3.625V5.31667C27.0833 6.12222 29.7917 7.82396 31.875 10.4219C33.9583 13.0198 35 15.9903 35 19.3333V36.25H40V41.0833H0ZM20 48.3333C18.625 48.3333 17.4479 47.8601 16.4688 46.9135C15.4896 45.967 15 44.8292 15 43.5H25C25 44.8292 24.5104 45.967 23.5312 46.9135C22.5521 47.8601 21.375 48.3333 20 48.3333Z"
    fill="black"
  />
  <!-- Add this custom CSS inside the <head> section of your HTML -->
<style>
  
  .bell-icon {
    position: absolute;
    top: 0;
    left: 100px; /* Adjust the left value as needed */
  }
</style>


</svg>

          </div>

          <div class="column">
            <div>
              <!-- Add the details and summary elements for the pop-up info -->
              <details>
                <summary>Purchase Request No. 00000100 is waiting for you. </summary>
                
               NOTIFICATIONS
               <div>
                <!-- First piece of information -->
                <div>
                  <strong>Purchase Request No. 00000100:</strong> is waiting for you.
                </div>
                <div>09/02/23</div>
              
                <!-- Second piece of information -->
                <div>
                  <strong>Resolution for Purchase Request No. 00000100:</strong> is declined by the Campus Director.
                </div>
                <div>09/02/23</div>
              </div>
              
               <span id="timestamp"></span>
                <script>
                  var currentDate = new Date();
                  var timestampElement = document.getElementById("timestamp");
                  var formattedDate = currentDate.toLocaleString();
                  var dashes = "-".repeat(130);
                  timestampElement.textContent = dashes + " Date & Time: " + formattedDate;
                </script>
              </details>
            </div>
            
            
          </div>
        </div>
    </div>  
  </body>  
</html> 
